@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');/* regular-400, medium-500, semibold-600, bold-700 */ 
@font-face {
  font-family: "AnnotationMono";
  src: url(../fonts/Regular.woff2);
  font-weight: normal;
  font-style: normal;
}
body,html {height:100%;margin:0;padding:0}
ul, li, dl, dt, dd, p, span{margin:0;padding:0}
a{text-decoration:none}
li{list-style:none}
a{text-decoration:none}
*, :after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}


.typed-cursor{
    display: none;
}
#container{
    font-family: "AnnotationMono", "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100vh;
}
a:link, a:visited{
    color: #333;
    text-decoration: none;
}
#topbutton{
    display: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    color: rgb(68, 100, 136);
    background: transparent;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.5s ease-in-out;
}
#topbutton:hover{
    color: rgb(253, 4, 149);
}
header{
position:relative;
}
nav{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px dashed black;
}
.menuFixed{
    position:fixed;
    top:0;
    left:50%;
    transform:translate(-50%, 0);
    z-index: 99999;
}
.bar{
    width: 1124px;
    margin: 0 auto;
    transform: translateX(50px);
    display:flex;
    justify-content: space-between;
    
}
.logo{
    width: 100px;
    height: 70px;
    margin:10px;
    background-image: url(../images/weirdcat.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height:150px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px #fff;
    opacity:1.5;
    filter: brightness(0.9);
    border-radius: 100%;
}
.logo > a{
    display: inline-block;
    padding-top: 5px;
    color: rgb(200 , 55, 150);
}

.menuWrap{
    background-color: #fff;
}
.letter{
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px #000;
}

.main-menu{
    margin-bottom: 0;
    width: 1024px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    line-height: 25px;
    font-size: 20px;
}
.main-menu > li {
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.main-menu > li > a{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    
}
.main-menu > li:hover a{
    background-color:rgb(248, 246, 125);
}

.fixed{
    background-color:rgb(248, 246, 125);
}
.carouselWrap{
    width: 100%;
    /* background-color: rgba(2, 85, 136, 0.577); */
}
.carouselSize{
    width: 100%;
    /* height: 800px; */
    margin:0 auto 50px auto;
}
.carousel-indicators > .active{
    width: 70px;
}
.carousel-item{
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-item.item1{
    background-image: url(../images/photo_slide_ex01.jpg);
}
.carousel-item.item2{
    background-image: url(../images/photo_slide2.jpg);
}
.carousel-item.item3{
    background-image: url(../images/photo_slide_ex02.jpg);
}
.carousel-item.item4{
    background-image: url(../images/photo_slide4.jpg);
}
.carousel-item img{
    filter: brightness(0.9);
}



.poem{
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    /* display: flex;
    justify-content: space-between; */
    position: relative; 

}

.poem > .poemBox{
    width: 100%;
    height: 500px;
    background-color: #e9bfbf;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 20px #333); 
}
.poem > .poemBox > .extraImg{
    width:50%;
    height: 500px;
    background-image: url(../images/hitech1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
    filter: contrast(1.5);
}
.poem .poemBox #text{
    font-family: "AnnotationMono";
    text-shadow: 1px 1px #fff;
    font-size: 16px;
    height: 500px;
    padding: 50px;
    color: #333;
    position: absolute;
    top: 300px;
    left: 650px;
    transform: translate(-50%, -50%);
    z-index: 300;
    /* background-color: #fff; */
    /* border-radius: 20px; */
    word-break: keep-all;
    word-wrap: wrap;   
  
}


/* ::after를 이용해 커서(막대기) 생성 */
#dream > .poem > h1::after {
  content: "";
  display: inline-block;
  width: 2px;                /* 커서 너비 */
  height: 50px;              /* 커서 높이 (글자 크기와 맞춤) */
  background-color: black;   /* 커서 색상 */
  margin-left: 5px;          /* 글자와 커서 간격 */
  vertical-align: middle;
  animation: blink 0.7s infinite; /* 깜빡임 애니메이션 적용 */
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



tag{
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 20px;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
    border: 1px dashed #000;
    background-color: #fff;
    color: #000;
    
}
.tool{
    background-color: #c802fa;
    color: #fff;
}
.base{
    background-color: #eed707;
    color: #333;
}
.lib{
    background-color: #59caf7;
    color: #000;
}
.data{
    background-color: #eb840f;
    color: #000;
}
.toolImg{
    width: 100%;
    height: 450px;
    background-image: url(../images/thunder.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h2{
    padding:10px;
    text-align: center;
    text-shadow: 1px 1px 2px #fff;
    /* border-bottom: 3px solid black; */
}
.section{
    height: 1080px;
}
#profile > .proWrap > .tools > h2{
    padding-top: 400px;
}
#profile h1 {
    /* padding-bottom: 80px; */
    /* padding-top: 170px; */
    height: 50px;
    margin: 0 auto;
    text-shadow: 1px 1px 1px #000;
    word-wrap: wrap;
    text-align: center;
    color: #777;
    font-size: 20px;
}
#h1{display: none; text-align: center;}
#profile h5{
    background-color: #88d0da;
    padding: 5px;
    border-bottom: 1px solid black;
}
#dream{
    padding-top: 200px;
    height: 1080px;
}
#profile{
    padding-top: 100px;
    height: 1080px;
    background-color: #b56cc5;
}
#project{
    /* padding-top: 200px; */
    height: 1080px;
    background-color: rgb(242, 238, 186);
}

#project > .myworkWrap{
    width: 1024px;
    margin:0 auto;
    padding-top: 150px;
}

.bi.bi-archive-fill{
    width:30px;
    height:30px;
    color: #777;
}
#profile > .proWrap{
    padding-top: 50px;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#profile > .proWrap > .me{
    width: 45%;
    padding: 20px;
    height: auto;
    background-color: #c3afc9;
    border-radius: 10px;
    margin: 10px; 
    filter: drop-shadow(10px 10px 20px #333);
}

#profile > .proWrap > .tools{ 
    padding-top: 100px;
    background-image: url(../images/thunder.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#profile > .proWrap > .me > .skill{
    margin: 30px 0;
    text-align: center;
    background-color: #ddd;
    border-radius: 0 0 10px 10px;
}
#profile > .proWrap > .record > .education,
#profile > .proWrap > .record > .courses{
    padding:10px;
}
#profile > .proWrap > .record >  ul > li{
    margin: 5px 0 5px 0;
}
#profile > .proWrap > .record >  ul > h6{
    padding: 5px 3px;
    background-color: #88d0da;
    border-bottom: 1px solid black;
}
.profileImg{
    margin: 10px auto; 
    width: 220px;
    height: 220px;
    border: 3px solid black;
    border-radius: 20px;
    background-image: url(../images/weirdcat.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#project > .myworkWrap > .portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#project > .myworkWrap > .portfolio > .work{
    width: 300px;
    height: 300px;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #21935a;
    border: 10px solid #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 10px #999);
}
#project > .myworkWrap > .portfolio > .work:hover{
    border: 10px solid #fff;
    filter: contrast(1.6);
}
#project > .myworkWrap > .portfolio > .work > a{
    display: inline-block;
    padding-top: 130px;
    width: 300px;
    height: 300px;
    text-shadow: 1px 1px #fff;
}
#project > .myworkWrap > .portfolio > .work > a > span{
    color: #000;
    background-color: rgb(126, 187, 158);
    padding:5px;
}
#project > .myworkWrap > .portfolio > .mywork1{
    background-image: url(../images/sc_01.png);
}
#project > .myworkWrap > .portfolio > .mywork2{
    background-image: url(../images/sc_02.png);
}
#project > .myworkWrap > .portfolio > .mywork3{
    background-image: url(../images/sc_03.png);
}
#project > .myworkWrap > .portfolio > .mywork0{
    /* filter: grayscale(1); */
    background-image: url(../images/soon2.jpg);
}
#project > .myworkWrap > .portfolio > .mywork0:hover{
    filter: contrast(1) drop-shadow(10px 10px 10px #999);
    border: 10px solid #000;
}
footer{
    width: 100%;
    padding-top: 150px;
    background-color: rgb(96, 158, 197);
    font-size: 20px;
}

footer a:hover{
    text-decoration: underline;
    text-decoration: none;
}
footer > .contact{
    padding: 10px;
    margin:30px;
    width: 500px;
    margin:0 auto;
}

footer > .info > .contact > li > label{
    width: 100px;
    text-align: center;

}
footer > p{
    margin:0 auto;
    padding-top: 150px;
    width: 100%;
    text-align: center;
    height: 230px;
    color:#bbb;
    text-shadow: 1px 1px #333;
    background-image:linear-gradient(to top,#333, rgb(96, 158, 197)) ;
}
footer .git-repository{
    padding-bottom: 100px;   
    width: 1024px;
    margin: 30px auto; 
}

footer .git-repository > p{
    width: 100%;
    border-bottom: 1px solid black;
} 

footer .git-repository a.link{
    transition: color 0.3s; /* 부드러운 색 변화 */
}
footer .git-repository p label{
    padding:5px;
    margin:5px 0;
}
footer .git-repository > p:hover a.link,
footer .git-repository > p:hover{
    width: 100%;
    color: #fff;
    background-color: #2d5d7c;
    cursor: pointer;
} 
footer .git-repository label{
    margin: 0 10px 0 0;
    padding: 5px;
    background-color: rgb(171, 207, 185);
}
footer > .git-repository > h5{
    display: inline-block;
    padding: 5px;
    background-color: rgb(119, 217, 241);
}
footer h3{
    text-shadow: 1px 1px 1px #fff;
}
footer .info{
    width: 1024px;
    margin:10px auto;
    display: flex;
    justify-content: space-between;
}
footer li{
    margin-left: 10px;
}
footer > .info > .contact > li > label{
    margin-top: 5px;
    margin-right: 10px;
    background-color: rgb(205, 207, 240);
}
footer .sns{
    margin: 30px;
    width: 25%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

footer .sns img{
    width: 50px;
    height:50px;    
}
footer > .info > .sns > .snsimg:hover img{
    filter: brightness(1.2);
    transform: scale(1.2);
    cursor: pointer;
}
