@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');/* regular-400, medium-500, semibold-600, bold-700 */ 
@font-face {
  font-family: "AnnotationMono";
  src: url(../fonts/Regular.woff2);
  font-weight: normal;
  font-style: normal;
}
body,html {height:100%;margin:0;padding:0}
ul, li, dl, dt, dd, p, span{margin:0;padding:0}
a{text-decoration:none}
li{list-style:none}
a{text-decoration:none}
*, :after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

#container{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100vh;
}
a:link, a:visited{
    color: #333;
    text-decoration: none;
}
#topbutton{
    display: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    color: rgb(68, 100, 136);
    background: transparent;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.5s ease-in-out;
}
#topbutton:hover{
    color: rgb(253, 4, 149);
}
header{
position:relative;
}
nav{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px dashed black;
}
.menuFixed{
    position:fixed;
    top:0;
    left:50%;
    transform:translate(-50%, 0);
    z-index: 99999;
}
.bar{
    width: 1124px;
    margin: 0 auto;
    transform: translateX(50px);
    display:flex;
    justify-content: space-between;
    
}
.logo{
    width: 100px;
    height: 70px;
    margin:10px;
    background-image: url(../images/logo_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height:150px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px #fff;
    opacity:1.5;
    filter: brightness(0.9);
    border-radius: 100%;
}
.logo > a{
    color: rgb(200 , 55, 150);
}

.menuWrap{
    background-color: #fff;
}
.letter{
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px #000;
}

.main-menu{
    margin-bottom: 0;
    width: 1024px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    line-height: 25px;
    font-size: 20px;
}
.main-menu > li {
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.main-menu > li > a{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    
}
.main-menu > li:hover a{
    background-color:rgb(248, 246, 125);
}

.fixed{
    background-color:rgb(248, 246, 125);
}
.carouselWrap{
    width: 100%;
    background-color: rgba(2, 85, 136, 0.577);
}
.carouselSize{
    width: 100%;
    margin:0 auto 50px auto;
}
.carousel-indicators > .active{
    width: 70px;
}
.carousel-item{
    height: 350px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-item.item1{
    background-image: url(../images/photo_slide_ex01.jpg);
}
.carousel-item.item2{
    background-image: url(../images/photo_slide2.jpg);
}
.carousel-item.item3{
    background-image: url(../images/photo_slide_ex02.jpg);
}
.carousel-item.item4{
    background-image: url(../images/photo_slide4.jpg);
}
.carousel-item img{
    filter: brightness(0.9);
}
section{
    margin-top: 0 auto 50px;
    width: 100%;
    height: 100vh;
}

.poem{
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    position: relative;
}
.poem > img{ 
    width: 400px;
    height: 400px;
    filter: contrast(2) drop-shadow(10px 10px 30px #999);
    transform:scaleX(-1);
}
.poem > .poemBox{
    width:50%;
}
.poem .poemBox #text{
    font-size: 18px;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    color: #333;
    position: absolute;
    top: 200px;
    left: 750px;
    transform: translate(-50%, -50%);
    z-index: 300;
    word-break: keep-all;
    word-wrap: wrap;
}
.typed{
    display: none;
}

/* ::after를 이용해 커서(막대기) 생성 */
#text::after {
  content: "";
  display: inline-block;
  width: 2px;                /* 커서 너비 */
  height: 18px;              /* 커서 높이 (글자 크기와 맞춤) */
  background-color: black;   /* 커서 색상 */
  margin-left: 5px;          /* 글자와 커서 간격 */
  vertical-align: middle;
  animation: blink 0.7s infinite; /* 깜빡임 애니메이션 적용 */
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#profile{
    padding-top: 256px;
    background-color: #eee;
}
#project{
    padding-top: 256px;
    background-color: #ddd;
}
.wrap{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.wrap img{
    height: 450px;
    filter: contrast(1.3) drop-shadow(10px 10px 30px #999);
}

.wrap > .content{
    padding: 30px;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 30px;
    filter:drop-shadow(5px 5px 50px #999);
}
.wrap > .content > li > a{
    display: inline-block;
    width: 100%;
    padding:10px;
}
.wrap > .content > li:hover a{
    color:#333;
    background-color: #ddd;
}
.wrap > .record{
    word-break: break-all;
    text-align: justify;
    margin-right: 30px;
}
.wrap > .record > .line, 
.wrap > .portfolio > .line{
    border-bottom: 1px solid black;
}
.wrap > .record > a > label{
    font-size: 18px;
    margin-top: 10px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
}
.wrap > .record > a{
    padding:10px;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    padding-bottom: 10px;
}
.wrap > .record > a:hover{
    background-color: #ddd;
}
.wrap > .portfolio > li{
    font-size: 18px;
    border-bottom: 1px solid black;
}

.wrap > .content > li span{
    color: lightseagreen;
    font-weight: bold;
}
.wrap > .content > h3{
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
}
.wrap > .content > a > label{
    margin-top: 10px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #777;
}

.portfolio{
    width: 100%;
    text-align: center;
    margin-left: 30px;
}
footer{
    width: 100%;
    padding-top: 150px;
    background-color: rgb(96, 158, 197);
    font-size: 20px;
}

footer a:hover{
    text-decoration: underline;
}
footer > .contact{
    padding: 10px;
    margin:30px;
    width: 500px;
    margin:0 auto;
}

footer > .info > .contact > li > label{
    width: 100px;
    text-align: center;

}
footer > p{
    margin:0 auto;
    padding:30px 0;
    width: 100%;
    text-align: center;
    height: 100px;
    color:#bbb;
    text-shadow: 1px 1px #333;
    background-image:linear-gradient(to top,#333, rgb(96, 158, 197)) ;
}
footer .git-repository{
    padding-bottom: 100px;   
    width: 1024px;
    margin: 30px auto; 
}
footer .git-repository > p > a:hover{
    padding:5px;
    background-color: #2d5d7c;
    color:#fff;
    text-decoration: none;
}
footer .git-repository p{
    width: 100%;
}
footer .git-repository p label{
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px;
    background-color: rgb(171, 207, 185);
}
footer > .git-repository > h5{
    display: inline-block;
    padding: 5px;
    background-color: rgb(119, 217, 241);
}
footer h3{
    text-shadow: 1px 1px 1px #fff;
}
footer .info{
    width: 1024px;
    margin:10px auto;
    display: flex;
    justify-content: space-between;
}
footer li{
    margin-left: 10px;
}
footer > .info > .contact > li > label{
    margin-top: 5px;
    margin-right: 10px;
    background-color: rgb(205, 207, 240);
}
footer .sns{
    margin: 30px;
    width: 25%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

footer .sns img{
    width: 50px;
    height:50px;    
}

