
/* .main-bg{ height: 80vh;} *//*배경이미지*/
footer {display: none;}
body {overflow-y: hidden;}
.slides li {position: relative;} /* 배경이미지와 텍스트의 부모요소*/

.main-bg-1{
    background: url('../imgs/main-bg-1.jpg') no-repeat center center;
    background-size: cover;
}

.main-bg-2{
    background: url('../imgs/main-bg-2.jpg') no-repeat center center;
    background-size: cover;
}

.main-bg-3{
    background: url('../imgs/main-bg-3.jpg') no-repeat center center;
    background-size: cover;
}

.main-bg-4{
    background: url('../imgs/main-bg-4.jpg') no-repeat center center;
    background-size: cover;
}