@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
a:link, a:visited{
    color: #333;
}
.bigTitle{
    width: 1024px;
    margin: 50px auto 0;
    font-size: 30px;
    padding: 0 25px;
}

.title{
    width: 1024px;
    margin:0 auto;
    padding: 5px 25px 0; 
    font-size: 30px;
}


/* ============================================ */
.itemList{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* padding: 30px; */
    /* background-color: palevioletred; */
}
.itemBox{
    text-align: center;
    margin: 20px auto 50px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 20px #999);
    transition: all 0.6s ease-in-out;
    
}
.itemBox:hover a:link,
.itemBox:hover a:visited{
    color: #fff;
    cursor: pointer;
}
.itemBox:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.itemImg{
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.itemBox:hover img{
    transform:scale(2);
    cursor: pointer;

}
.itemImg img{
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
}
.itemInfo{
    display: block;    margin: 20px auto 10px;
}
.info{
    padding: 10px 0;
}
/*======================================*/

.product-detail {
    width: 500px;
    margin: 50px auto 0;
  /* background-color: pink; */
  display: flex;
  gap: 20px;
  position: relative;
}

/* 썸네일 */
.thumb-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumb {
  width: 80px;
  height: 92.5px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.thumb.active {
  border: 2px solid #E60023;
}

/* 메인 이미지 */
.main-image {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
}

/* 확대 영역 */
#zoom {
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  display: none;
}



/* ============================== */
.product-container{
    width: 1024px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}

.product-info{
    margin-top: 50px;
    padding: 20px;
    height: 400px;
}

.info{
    margin: 20px 0;
}

hr{
    margin: 10px;
}
.label{
    margin: 20px 0;
}

/* =========상세페이지============ */


/* 탭 */
.detail-tabs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
    border-bottom: 2px solid #ddd;
    padding: 15px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 1024px;
    margin: 0 auto;
}

/* .detail-tabs span {
    cursor: pointer;
    color: #777;
}

.detail-tabs .active {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid black;
} */

.detail-tabs span {
    cursor: pointer;
    color: #999;
    padding-bottom: 5px;
    transition: 0.2s;
}

.detail-tabs span.active {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

/* 섹션 */
.detail-section {
    padding: 40px 20px;
    background: #fff;
    margin-top: 10px;
    width: 1024px;
    margin:0 auto;
}

.detail-section img {
    width: 100%;
    margin-bottom: 15px;
}

/* 추천상품 */
.recommend-list {
    display: flex;
    gap: 20px;
}

.rec-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/* 리뷰 */
.review-box {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

/* 테이블 */
.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* 하단 고정 */
.buyWrap{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid #ddd;
    background-color: white;
}
.buy-fixed {
    width:1024px;
    margin: 0 auto;
    background: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.buy-fixed button {
    background: green;
    color: white;
    border: none;
    padding: 10px 20px;
}

/* 하단 푸터에 가까워지면 구매하기 바 사라지게 설정 */
.buy-fixed {
    transition: 0.3s;
}