@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a:link{
    color: #333;
    text-decoration: none;
}

header{

}
.bar{
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 100px;
    background-image: url(../images/logo_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height:100px;
    text-align: center;
    font-size: 30px;
    color: rgb(200 , 55, 150);
    text-shadow: 2px 2px 1px #222;
    opacity:1.5;
    border-bottom:1px dashed black;
    filter: brightness(0.8);
}

.menu{
   width:100%;
}
.letter{
    color: #fff;
    padding: 10px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px #000;
    background-color: lightsteelblue;
}

.letter > label{
    color: lightpink    
}
.private{
    margin-left:auto;
    width: 150px;
    padding:10px;
    display: flex;
    justify-content: space-around;
}

.main-menu{
    margin-bottom: 0;
    padding:10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #ddd;
    border-bottom: 1px dashed black;
    line-height: 25px;
    font-size: 15px;
}

.carouselsize{
    width: 1000px;
    margin:0 auto;
}

.carousel-item{
    width: 100%;
    height: 400px;

}
.carousel-item img{
    width: 100%;
    height: 600px;
    filter: brightness(0.9);
}
/* .carousel-item.item1{
    background-image: url(../images/slide1.jpg);
}
.carousel-item.item2{
    background-image: url(../images/slide2.jpg);
}
.carousel-item.item3{
    background-image: url(../images/slide3.jpg);
}
.carousel-item.item4{
    background-image: url(../images/slide4.jpg);
} */

.intro{
    width: 1000px;
    margin: 0 auto;
}

.wrap, .text{
    margin:0 auto;
    padding: 50px;

    display: flex;
    justify-content: space-between;
}
.wrap img{
    margin: 20px;
    width: 600px;
    height: 300px;
    border-radius: 100%;
    /* border: 5px solid black; */
    
}
.wrap {
    width: 100%;
    padding: 50px;

}

.middle-line{
   width: 100%;
   position: relative;
}
.middle-line P{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 50px;
}
.mid-img{
    width: 100%;
    height: 450px;
    background-image: url(../images/thunder.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content{
    margin: 50px;
    padding:30px;
}

footer{
    width: 100%;
    background-color: #333;
    padding: 20px;
    color:#fff;
}
footer > .contact{
    padding: 10px;
    margin:30px;
    width: 500px;
    margin:0 auto;
}

footer > .info > .contact > li > label{
    width: 100px;
    text-align: center;
    
}
footer p{
    margin:0 auto;
    padding:5px;
    width: 400px;
}

footer .info{
    width: 700px;
    margin:10px auto;
    display: flex;
    justify-content: space-between;
}
footer .sns{
    margin: 30px;
    width: 25%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

footer .info .sns .snsimg img{
    width: 50px;
    height:50px
}

footer .x{

}